.menu {
  display: flex !important;
  justify-content: center;
  align-items: center;
  margin-bottom: 16px;
  margin-top: 16px;
  margin-left: 16px;
  max-width: 1064px;

  &__swiper {
    height: 50px;
  }
}

.menu__swiper-wrapper {
  display: flex;
  gap: 0px 16px;
}

.menu__slide {
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  width: 248px;
  height: 40px;
  color: rgba(126, 126, 130, 1);
  margin-right: 16px;
}

.swiper-slide-active {
  border: 2px solid rgba(184, 255, 236, 1);
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
}
