.price {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 69px;
  max-width: 421px;
  @media (min-width: 321px) and (max-width: 768px) {
    margin-top: 24px;
    margin-left: 24px;
    margin-right: 0px;
    margin-bottom: 47px;
  }
  @media (min-width: 768px) {
    margin-top: 32px;
    margin-left: 32px;
    margin-right: 0px;
    margin-bottom: 50px;
  }
  &__text {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 0.2px;
  }
  &__button {
    padding: 0px;
    padding-top: 16px;
    text-align: left;
    border: 0px;
    background-color: rgba(248, 248, 248, 1);
    @media (min-width: 0px) and (max-width: 337px) {
      max-width: 192px;
    }
  }
  &__button-text {
    color: rgba(27, 28, 33, 1);
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    padding-right: 9.4px;
  }
}
