.services {
  margin-top: 40px;
  margin-left: 16px;
  &__title {
    font-family: "TT Lakes";
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0, 2px;
    display: flex;
    align-items: center;
    width: 1120px;
    height: 56px;
    margin-left: 32px;
    background: linear-gradient(
      to right,
      rgba(248, 248, 248, 1),
      rgba(255, 255, 255, 1)
    );
    @media (max-width: 768px) {
      width: 768px;
      height: 56px;
      margin-left: 24px;
    }
    @media (max-width: 320px) {
      width: 320px;
      height: 80px;
      margin-left: 16px;
    }
  }
}

.services__mini {
  @media (min-width: 0px) and (max-width: 741px) {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-bottom: 16px;
    margin-top: 24px;
    margin-left: 24px;
  }
  @media (min-width: 741px) {
    display: none;
  }
  @media (min-width: 1200px) {
    display: none;
  }
  &-swiper {
    padding-bottom: 35px;
  }
}

.services__mini-cont {
  background-color: rgba(255, 255, 255, 1);
  width: 260px !important;
  height: 200px !important;
  border: 1px solid rgba(234, 234, 234, 1);
  border-radius: 6px;
  margin-right: 16px;
}

.services__mini-term {
  position: relative;
}

.services__mini-text {
  display: flex;
  flex-flow: column;
  width: 185px;
  gap: 16px 0px;
  padding-left: 16px;
  padding-top: 16px;
  &-title {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 16px;
  }
  &-titler {
    font-family: "TT Lakes";
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 0.2px;
  }
}

.services__mini-button {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: $button-background;
  margin-left: 16px;
  border: 0px;
  position: absolute;
  top: 6px;
  left: 84px;
  &-text {
    color: $background;
  }
}

.services__container {
  max-width: 1056px;
  height: 324px;
  margin-top: 31px;
  margin-bottom: 32px;
  margin-left: 32px;
  background-color: $background;
  @media (max-width: 741px) {
    display: none;
  }
  &--element {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 64px;
    @media (max-width: 768px) {
      width: 720px;
    }
    @media (max-width: 320px) {
      display: none;
    }
  }
}

.services__col1 {
  width: 348px;
  padding-left: 24px;
}
.services__col2 {
  width: 74px;
}

.services__col3 {
  width: 92px;
}

.services__button {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: $button-background;
  border: 0px;
  margin-right: 24px;
  @media (max-width: 320px) {
    position: absolute;
  }
  &-text {
    color: $background;
  }
}

.services__line {
  width: 1008px;
  height: 1px;
  background-color: rgba(234, 234, 234, 1);
  margin-left: 24px;
  @media (max-width: 768px) {
    width: 688px;
    margin-left: 16px;
  }
}
