@charset "UTF-8";
@import "~normalize.css";
@font-face {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"), url("/fonts/TTLakes-Medium.woff2") format("woff2"), url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-size: 16px;
  line-height: 24px;
}
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 2px solid transparent;
}

body {
  overflow-anchor: none;
  margin: 0;
  font-family: "Barlow", sans-serif;
  color: #1b1c21;
  background-color: rgb(255, 255, 255);
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

input,
textarea {
  width: 100%;
}

textarea {
  resize: none;
}

/*Меняем цвет плейсхолдера в инпуте Сафари и Хром*/
/*Меняем цвет плейсхолдера в инпуте для Мозилы */
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #cacaca;
}

input:focus,
textarea:focus {
  outline: none;
}

footer {
  background: rgb(255, 255, 255);
}

.is--hidden {
  display: none !important;
}

.btn--reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.btn:active,
.btn:focus {
  outline: none;
}

.error {
  border: 2px var(--error-red) solid !important;
}

.container {
  max-width: 1810px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}
@media (max-width: 1200px) {
  .container {
    padding-right: 50px;
    padding-left: 50px;
  }
}
@media (max-width: 576px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
  }
}

.service {
  margin-bottom: 24px;
}
.service__line {
  background: #41f6d7;
  border-radius: 4px;
  width: 4px;
  height: 40px;
  position: absolute;
  left: -2px;
  top: 124px;
}
.service__title {
  padding-left: 18px;
}

.menu {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin-left: 16px;
  margin-top: 32px;
}
.menu__slide {
  height: 50px;
}

.title {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  margin-left: 16px;
  margin-right: 16px;
  margin-top: 24px;
}

.title__button {
  margin-top: 16px;
  border: 0px;
  background-color: rgb(248, 248, 248);
  margin-bottom: 16px;
}
.title__button-icon {
  margin-right: 16px;
}

.more {
  display: none;
}

.brands {
  margin-top: 40px;
  margin-left: 16px;
}
.brands__title {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0, 2px;
}

.brands__container {
  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .brands__container {
    grid-template-columns: repeat(6, 1fr);
    margin-left: 24px;
  }
  .brands__container .brands__section--cont:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 320px) {
  .brands__container {
    display: none;
  }
}
.container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 0px;
  margin-top: 18px;
  margin-bottom: 46px;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.brands__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 0px;
}
@media (max-width: 768px) {
  .brands__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .brands__section {
    display: none;
  }
}

.brands__section--cont {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
}
@media (max-width: 768px) {
  .brands__section--cont {
    width: 224px;
  }
}

.brands__section--logo {
  padding-left: 16px;
}

.brands__section--go {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.button {
  display: flex;
  align-items: center;
  width: 133px;
  margin-left: 33px;
  gap: 0px 5px;
  border-width: 0px;
  background-color: rgb(248, 248, 248);
}
@media (max-width: 768px) {
  .button {
    margin-left: 24px;
    gap: 0px 6px;
  }
}
@media (min-width: 0) and (max-width: 320px) {
  .button {
    display: none;
  }
}

.buttontext {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"), url("/fonts/TTLakes-Medium.woff2") format("woff2"), url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-size: 16px;
  line-height: 24px;
}

@media (min-width: 0) and (max-width: 320px) {
  .brands__mini {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* gap: 16px 0px !important; */
    margin-bottom: 16px;
    margin-top: 24px;
    padding-left: 24px;
  }
}
.brands__mini-section {
  margin-bottom: 33px;
}

.brands__mini-cont {
  background-color: rgb(255, 255, 255);
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  width: 240px !important;
  height: 72px !important;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  margin-right: 16px;
}

.brands__mini-logo {
  padding-left: 16px;
}

.brands__mini-go {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.price {
  margin-top: 16px;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 120px;
  height: 137.45px;
  width: 288px;
}
.price__text {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}
.price__button {
  padding: 0px;
  padding-top: 16px;
  text-align: left;
  border: 0px;
  background-color: rgb(255, 255, 255);
}
.price__button-text {
  color: rgb(27, 28, 33);
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.footer {
  margin-top: 16px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 0px;
  background-color: rgb(255, 255, 255);
}
.footer__text {
  display: grid;
  text-align: center;
  align-items: center;
}

.view {
  margin-top: 40px;
  margin-left: 16px;
}
.view__title {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

@media (min-width: 0) and (max-width: 320px) {
  .view__mini {
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-top: 32px;
    padding-left: 16px;
  }
}
.view__mini-swiper {
  padding-bottom: 16px;
}

.view__mini-cont {
  background-color: rgb(255, 255, 255);
  display: flex !important;
  justify-content: space-between;
  width: 240px !important;
  height: 160px !important;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  margin-right: 16px;
  margin-bottom: 16px;
}

.view__mini-text {
  padding-left: 16px;
  padding-top: 16px;
}

.view__mini-go {
  height: 40px;
  width: 40px;
  padding-top: 104px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.view__container {
  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .view__container {
    grid-template-columns: repeat(6, 1fr);
    margin-left: 24px;
  }
  .view__container .view__section--cont:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 320px) {
  .view__container {
    display: none;
  }
}
.view__section-container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 0px;
  margin-top: 18px;
  margin-bottom: 46px;
}
@media (max-width: 768px) {
  .view__section-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.view__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 0px;
}
@media (max-width: 768px) {
  .view__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .view__section {
    display: none;
  }
}

.view__section--cont {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
}
@media (max-width: 768px) {
  .view__section--cont {
    width: 224px;
  }
}

.view__section--text {
  padding-left: 16px;
}

.view__section--go {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.button {
  display: flex;
  align-items: center;
  width: 133px;
  margin-left: 33px;
  gap: 0px 5px;
  border-width: 0px;
  background-color: rgb(248, 248, 248);
}
@media (max-width: 768px) {
  .button {
    margin-left: 24px;
    gap: 0px 6px;
  }
}
@media (min-width: 0) and (max-width: 320px) {
  .button {
    display: none;
  }
}

.buttontext {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"), url("/fonts/TTLakes-Medium.woff2") format("woff2"), url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-size: 16px;
  line-height: 24px;
}

.services {
  margin-top: 40px;
  margin-left: 16px;
}
.services__title {
  font-family: "TT Lakes";
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0, 2px;
}

@media (min-width: 0) and (max-width: 320px) {
  .services__mini {
    display: flex !important;
    justify-content: center;
    align-items: center;
    /* gap: 16px 0px !important; */
    margin-bottom: 16px;
    margin-top: 24px;
    padding-left: 24px;
  }
}
.services__mini-swiper {
  padding-bottom: 35px;
}

.services__mini-cont {
  background-color: rgb(255, 255, 255);
  width: 260px !important;
  height: 200px !important;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
  margin-right: 16px;
}

.services__mini-term {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

.services__mini-text {
  display: flex;
  flex-flow: column;
  width: 185px;
  gap: 16px 0px;
  padding-left: 16px;
  padding-top: 16px;
}
.services__mini-text-title {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 16px;
}
.services__mini-text-titler {
  font-family: "TT Lakes";
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
}

.services__mini-button {
  width: 119px;
  height: 32px;
  border-radius: 16px;
  background-color: rgb(255, 62, 121);
  margin-left: 16px;
  border: 0px;
}
.services__mini-button-text {
  color: rgb(255, 255, 255);
}

.services__container {
  margin-top: 25px;
  margin-bottom: 24px;
  margin-left: 32px;
}

@media (max-width: 768px) {
  .services__container {
    grid-template-columns: repeat(6, 1fr);
    margin-left: 24px;
  }
  .services__container .services__section--cont:nth-child(n+7) {
    display: none;
  }
}
@media (max-width: 320px) {
  .services__container {
    display: none;
  }
}
.container {
  display: none;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 16px 0px;
  margin-top: 18px;
  margin-bottom: 46px;
}
@media (max-width: 768px) {
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
  }
}

.services__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 16px 0px;
}
@media (max-width: 768px) {
  .services__section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}
@media (max-width: 320px) {
  .services__section {
    display: none;
  }
}

.services__section--cont {
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 240px;
  height: 72px;
  border: 1px solid rgb(234, 234, 234);
  border-radius: 6px;
}
@media (max-width: 768px) {
  .services__section--cont {
    width: 224px;
  }
}

.services__section--logo {
  padding-left: 16px;
}

.services__section--go {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-right: 16px;
}

.button {
  display: flex;
  align-items: center;
  width: 133px;
  margin-left: 33px;
  gap: 0px 5px;
  border-width: 0px;
  background-color: rgb(248, 248, 248);
}
@media (max-width: 768px) {
  .button {
    margin-left: 24px;
    gap: 0px 6px;
  }
}
@media (min-width: 0) and (max-width: 320px) {
  .button {
    display: none;
  }
}

.buttontext {
  font-family: "TT Lakes";
  src: local("TT Lakes Medium"), local("TT-Lakes-Medium"), url("/fonts/TTLakes-Medium.woff2") format("woff2"), url("/fonts/TTLakes-Medium.woff") format("woff"), url("/fonts/TTLakes-Medium.ttf") format("truetype");
  font-size: 16px;
  line-height: 24px;
}

.wrapper {
  margin: 0 auto;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 88px;
  padding-top: 18.59px;
  padding-left: 16px;
  padding-right: 16px;
  padding-bottom: 18.59px;
  margin-bottom: 24px;
  background-color: rgb(255, 255, 255);
}
.header__icon {
  height: 40px;
  width: 40px;
}
.header__logo {
  height: 50.81px;
  width: 96.55px;
}
@media (max-width: 768px) {
  .header {
    width: 768px;
  }
}

.header__logo-cont {
  display: flex;
  align-items: center;
  gap: 0px 20px;
}

.header__element-cont {
  display: flex;
  align-items: center;
  gap: 0px 20px;
  margin-right: 24px;
}

.header__element-icon {
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
}

.header__line {
  background: #eaeaea;
  border-radius: 1px;
  width: 2px;
  height: 32px;
  padding-left: 3px;
  padding-right: 3px;
}

.header__line-line {
  background: #eaeaea;
  border-radius: 1px;
  width: 2px;
  height: 32px;
  padding-left: 3px;
  padding-right: 3px;
}
@media (max-width: 320px) {
  .header__line-line {
    display: none;
  }
}

@media (max-width: 320px) {
  .header__line-icon {
    display: none;
  }
}/*# sourceMappingURL=main.css.map */